/* * {
  border: 2px solid red;
} */

body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  width: 450px;
  height: 300px;
}

header {
  background: #1F2937;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

button {
  background: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  padding: 7px 30px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

header,
main,
footer {
  padding: 10px 200px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.header-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 50px;
}

.header-main h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header-main-left {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.header-main-left > button {
  align-self: flex-start;
}


.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu > p {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

.quote {
  display: flex;
  flex-direction: column;
  background: #e5e7eb;
  color: #f9faf8;
  margin: 0 -100vw;
  padding: 50px 100vw;
}

.quote > h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  color: #1f2937;
  text-align: justify;
}

.quote > p {
  color: #1F2937;
  font-weight: 900;
  align-self: flex-end;
  font-size: 20px;
}

.links {
  display: flex;
  gap: 20px;
}

.random-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  gap: 50px;
}

.card {
  border: 5px #3882f6 solid;
  flex-basis: 100px;
  width: 100px;
  border-radius: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
}



